{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container" style="width:600px;">
  <div class="m-5">
    <h2 class="fw-bold">{{ article.title }}</h2>
    <p><a href="{% url 'accounts:mypage' article.user.username %}" class="fw-bold text-decoration-none text-dark">{{ article.user }}</a> | {{ article.updated_at }}</p>
    <hr>
    <p>{{ article.content }}</p>
    {% for photo in article.photo_set.all %}
      <img src="{{ photo.image.url }}" class="card-img-top" style="width:20rem; height:20rem;">
    {% endfor %}
    <br>
    {% if request.user.is_authenticated %}
      {% if request.user in article.like_users.all %}
        <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill" style="cursor : pointer;"></i>
      {% else %}
        <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart" style="cursor : pointer;"></i>
      {% endif %}
      <span id="like-count">{{ article.like_users.count }}</span>
    {% else %}
    <div class="text-center">
      <button class="btn btn-outline-danger mt-3">로그인 하세요</button>
    </div>
    {% endif %}
    <div class="mt-3">
      {% if user == article.user %}
        <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-dark">수정</a>
        <a href="{% url 'articles:delete' article.pk %}" class="btn btn-dark">삭제</a>
      {% endif %}
      <a href="{% url 'articles:index' %}" class="btn btn-outline-dark">돌아가기</a>
    </div>
    <hr>
    <form id="comment-form" data-article-id="{{ article.pk }}">
      {% csrf_token %}
      <div class="d-flex w-100">
        <div class="w-100">
          {% bootstrap_form comment_form %}
        </div>
        <button type="submit" class="btn btn-dark ms-2" style="height:2.4rem;">ok</button>
      </div>
    </form>
  <h4 class="mb-3 fw-bold">댓글 목록</h4>
  {% if comments %}
    <b>{{ comments|length }}</b>개의 댓글이 있습니다.
  {% endif %}
  <div id="comments">
    {% for comment in comments %}
      <div id="comment">
        <span> {{ comment.user.username }} | {{ comment.content }}</span>
        {% if request.user.pk == comment.user.pk %}
          <div id="comment-update-form-{{ comment.pk }}" style="display:none;">
            {% bootstrap_form comment_form %}
          </div>
          <button onclick="update_comment(this)" id="comment-update-{{ comment.pk }}" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}">수정</button>
          <button onclick="delete_comment(this)" id="comment-delete-{{ comment.pk }}" data-article-id="{{ article.pk }}" data-comment-id="{{ comment.pk }}">삭제</button>
        {% endif %}
        <hr>   
      </div> 
    {% empty %}
      <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 좋아요 비동기
  const likeBtn = document.querySelector('#like-btn')

  likeBtn.addEventListener('click', function(event) {
    axios({
      method: 'post',
      url: `/${event.target.dataset.articleId}/likes/`,
      headers: {'X-CSRFToken': csrftoken}
    })
    .then(response => {
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill')
        event.target.classList.remove('bi-heart')
      } else {
        event.target.classList.add('bi-heart')
        event.target.classList.remove('bi-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>
<script>
  // 댓글 생성 비동기
  const commentForm = document.querySelector('#comment-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  commentForm.addEventListener('submit', function(event) {
    event.preventDefault();
    axios({
      method: 'post',
      url: `/${event.target.dataset.articleId}/comments/`,
      headers: {'X-CSRFToken': csrftoken},
      data: new FormData(commentForm) 
    })
    .then(response => {
      const comments = document.querySelector('#comments')
      comments.textContent = "";
      const hr = document.createElement('hr')
      const comment_data = response.data.comment_data
      const user = response.data.user
      for (let i = 0; i < comment_data.length; i++) {
        const article_pk = response.data.article_pk
        console.log(user, comment_data[i].userId)
        if (user == comment_data[i].userId ){
        comments.insertAdjacentHTML('beforeend', `
          <span> ${ comment_data[i].userName } | ${ comment_data[i].content }</span>
            <button onclick="update_comment(this)" id="comment-update-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">수정</button>
            <button onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">삭제</button>
            <hr>
          `);
        }
      }
      commentForm.reset()
    })
    .catch(console.log(1))
  }) 
</script>
<script>
  // 댓글 수정 비동기
  const update_comment = (e) => {
    const comment_id = document.querySelector(`#${e.id}`).id
    console.log(comment_id)
    const input = document.createElement('input')
    const comment = document.querySelector('#comment')
    const span = document.createElement('span')
    axios({
      method: 'post',
      url: `/${event.target.dataset.articleId}/comments/${event.target.dataset.commentId}/update/`,
      headers: {'X-CSRFToken': csrftoken},
    })
    .then(response => {
      const comment_update_form = document.querySelector('#comment-update-form_'+event.target.dataset.commentId)
      const comment_pk = response.data.comment_pk
      console.log(comment_update_form)
    })
  
  }

  // 댓글 삭제 비동기
  const delete_comment = (e) => {
    const comment_id = document.querySelector(`#${e.id}`).id
    console.log(comment_id)
    axios({
      method: 'post',
      url: `/${event.target.dataset.articleId}/comments/${event.target.dataset.commentId}/delete/`,
      headers: {'X-CSRFToken': csrftoken},
    })
    .then(response => {
      const comments = document.querySelector('#comments')
      comments.textContent = "";
      const hr = document.createElement('hr')
      const comment_data = response.data.comment_data
      const user = response.data.user
      console.log(comment_data)
      
      for (let i = 0; i < comment_data.length; i++) {
        const article_pk = response.data.article_pk
        if (user == comment_data[i].userId ){
        comments.insertAdjacentHTML('beforeend', `
          <span> ${ comment_data[i].userName } | ${ comment_data[i].content }</span>
          <button onclick="update_comment(this)" id="comment-update-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">수정</button>
          <button onclick="delete_comment(this)" id="comment-delete-${comment_data[i].commentPk}" data-article-id="${article_pk}" data-comment-id="${comment_data[i].commentPk}">삭제</button>
          <hr>
          `);
        }
      }
    })
  }
</script>
{% endblock  %}