{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:600px;">
  <div class="m-5">
    <h1 class="text-center">{{ user.username }} 님의 페이지</h1>
    <div class="mt-5">
      <hr>
      <div class="d-flex">
        <p class="mb-0 ms-3 fw-bold" style="width:50%;">이름</p>
        <p class="mb-0 ms-3" style="width:50%;">{{ user.username }}</p>
      </div>
      <hr>
      <div class="d-flex">
        <p class="mb-0 ms-3 fw-bold" style="width:50%;">이메일</p>
        <p class="mb-0 ms-3" style="width:50%;">{{ user.email }}</p>
      </div>
      <hr>
      <div class="d-flex">
        <p class="mb-0 ms-3 fw-bold" style="width:50%;">가입시간</p>
        <p class="mb-0 ms-3" style="width:50%;">{{ user.date_joined }}</p>
      </div>
      <hr>
      <div class="text-center">
        <a href="{% url 'articles:member' %}"><button class="btn btn-dark">목록으로 돌아가기</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}