{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class='container text-center' style='width:800px;'>
  <div class='m-5'>
    {% if request.resolver_match.url_name == 'create' %}
    <h1>write</h1>
    <form action="" method='POST'>
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value='write' class='btn btn-dark'>
    </form>
    {% endif %}
    {% if request.resolver_match.url_name == 'update' %}
    <h1>edit</h1>
    <form action="" method='POST'>
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value='edit' class='btn btn-dark'>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}