{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container" style="width:600px;">
  <div class="m-5 p-5 border">
    {%if request.resolver_match.url_name == 'create'%}
      <h1 class="text-center">글쓰기</h1>
      <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form article_form %}
        <input type="submit" value="submit" class="btn btn-dark">
        <a href="{% url 'accounts:index' %}" class="btn btn-light">cancel</a>
      </form>
    {%endif%}

    {%if request.resolver_match.url_name == 'update'%}
      <h1 class="text-center">글수정</h1>
      <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form article_form %}
        <input type="submit" value="submit" class="btn btn-dark">
        <a href="{% url 'accounts:detail' articles.pk %}" class="btn btn-light">cancel</a>
      </form>
    {%endif%}
  </div>
</div>

{% endblock %}