{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:800px;">
  <div class="m-5">
    <h2 class="text-center mb-4">글 목록</h2>
    <div class="d-flex text-center">
      <p class="mb-0" style="width:50%;">글 제목</p>
      <p class="mb-0" style="width:50%;">작성자</p>
      <p class="mb-0" style="width:50%;">작성시간</p>
    </div>
    <hr>
    {% for article in articles %}
    <div class="d-flex text-center">
      <a href="{% url 'accounts:detail' article.pk %}" class="text-decoration-none text-dark fw-bold" style="width:50%;">{{ article.title }}</a>
      <p class="mb-0" style="width:50%;">{{ article.author }}</p>
      <p class="mb-0" style="width:50%;">{{ article.created_at }}</p>
    </div>
    <hr>
    {% endfor %}

    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:create' %}" class="btn btn-dark float-end">글 작성</a>
    {% else %}
    <a href="{% url 'accounts:login' %}" class="text-decoration-none text-dark float-end">새 글을 작성하려면 로그인하세요</a>
    {% endif %}
  </div>
</div>
{% endblock %}