{% extends 'base.html' %}
{% block content %}
<div class="container text-center" style="width:800px;">
  <div class="m-5">
    <h1>회원정보</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">사용자 이름</th>
          <th scope="col">이메일</th>
          <th scope="col">가입 시각</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.username }}</th>
          <td>{{ user.email }}</td>
          <td>{{ user.date_joined }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}date_joined